[2015-11-09 23:17] brgmnn opened #2 "Fundle completions rely on fish-completion-helpers"
The fundle completions rely on your fish-completion-helpers (https://github.com/tuvistavie/fish-completion-helpers) for both `__fish_prog_needs_command` and `__fish_prog_using_command` however they're not mentioned in the readme. Perhaps there should be a section in the readme for the completions mentioning the requirement on fish-completion-helpers?

I personally solved this by just installing fi

[2015-11-10 05:43] #2 closed, assigned to nobody

[2015-11-10 05:43] danhper commented on #2
You are perfectly right, I forgot to mention it.
I just updated the readme, thanks!

[2015-11-25 03:17] rainchen opened #4 "failed on Mac OS?"
when running `fundle init`, I got these error messages:

[code]

looks like the `find` command does not support `m` option, my os is MacOS 10.9.5
~> find -m

[code]

any idea?

[2015-11-25 03:36] danhper commented on #4
Hi, thanks for reporting.
I usually work on Linux so it is very possible that some command is not compatible.
I'm going to grab a mac and check this.

[2015-11-25 04:58] danhper commented on #4
@rainchen What version of fish are you using? I just tried on OS X and it seems to fail with 2.1.2 but to work on 2.2.0.
I think the key change is

If you are using an old version, please try to upgrade. If you are using brew, `brew update && brew upgrade fish` should do it.

[2015-11-25 05:08] rainchen commented on #4
I'm using `2.1.1`, I will try to upgrade fish to 2.2.0 later.
Currently I comment out these lines in the `bundle.fish` and it's working:

[code]

[2015-11-25 07:25] #4 closed, assigned to nobody

[2015-11-25 07:27] danhper commented on #4
@rainchen I modified the init function a little and it worked for me with fish 2.1.1. Let me know if you still have issues.

[2015-11-25 09:07] rainchen commented on #4
@tuvistavie I upgraded `fish` to v2.2.0 and also update `fundle` to latest version, everything works fine now, thanks for the quick response.

[2015-11-25 09:09] danhper commented on #4
Great, thanks for the feedback.

[2015-12-07 06:49] ghost opened #5 "Use fishtape for tests?"
What do you think about porting your tests to [Fishtape](https://github.com/fisherman/fishtape/)?

[2015-12-07 10:45] danhper commented on #5
Hi, thanks for the proposal.

Actually I would love to have an easier and more systematic way of testing at least fundle packages in general, as most packages are not tested.

So I think integrating a test framework for fundle itself, and to test fundle packages could be nice.
It could make it quite easy to have a `fundle test` command or something like this.

Do you think it would be possible to

[2015-12-07 11:21] ghost commented on #5
Fishtape is framework agnostic. So, yes, you could install it as a fundle plugin (or omf, or wahoo, or whatever).

Fishtape installs `fishtape.fish` into `~/.config/fish/functions/fishtape.fish` and also creates a directory inside `~/.config/fish/fishtape` to store the runtime which is injected into the compiled fish code when test files are run.

[2015-12-13 11:27] tcoenraad opened #8 "Plugins using init.fish don't work"
For example:
- https://github.com/derekstavis/plugin-nvm
- https://github.com/oh-my-fish/plugin-bundler
- https://github.com/oh-my-fish/plugin-rbenv

It seems that `fundle.fish` is invoking `init_$plugin_name` not at all, as is done by Oh My Fish: https://github.com/oh-my-fish/oh-my-fish/blob/93ddd6f213d6f21386651a1663f9f3460e35dbec/lib/require.fish#L34

[2015-12-14 05:23] danhper commented on #8
@tcoenraad Thanks for reporting, I did not know that oh-my-fish was emitting an event after loading plugins. I want the plugins to be compatible, so I am going to add this.

[2015-12-14 05:59] #8 closed, assigned to nobody

[2015-12-14 06:00] danhper commented on #8
@tcoenraad This should now be fixed, I would be glad if you could give it a try.

[2015-12-14 08:59] tcoenraad commented on #8
@tuvistavie I think we're almost there, yet now the plugin name is incorrectly retrieved. For example for [plugin-grc](https://github.com/oh-my-fish/plugin-grc):

[code]

This results in `init_-grc` to be invoked, what (of course) should be `init_grc`. Adding a `-` to the regex however results in these errors:

[code]

Okay, I have to reorder plugins to load `oh-my-fish-core` first. Then the follo

[2015-12-14 09:23] danhper commented on #8
@tcoenraad Thanks for reporting. This should now be fixed in `0.3.1`. Dependencies order is also respected now: the `init` event is sent only once the dependencies are initialized. However, this implies to have `fundle plugin 'dependency'` in the `init.fish` file of the plugin, so it will not work here.

oh-my-fish plugins are kind of a mess, sometimes functions are in the `functions` directory, s

[2015-12-14 09:30] tcoenraad commented on #8
I see that while I was commenting, you almost already fixed it. It's now working beautifully (well, as far it can with those messy `oh-my-fish` plugins), thank you! :+1:

[2015-12-14 09:31] danhper commented on #8
Thanks, I am probably going to switch to the fish implementation, but fish 2.0 and 2.1 are (supposed to be) supported for now (and string manipulation has been added in 2.2 if I remember), so I will see when I drop the support for older fish versions.

:+1:

[2015-12-15 14:26] tcoenraad opened #9 "Profiler is not working"
When I use `fundle init --profile` in my `config.fish` to profile fundle gives me lot of warnings like this:

[code]

Can you look into this?

[2015-12-15 22:02] danhper commented on #9
@tcoenraad Thanks for the report. I did not know that GNU date and BSD date were so different.
This should be fixed on 0.3.2, but you need to have `gdate` installed. `brew install coreutils` should install it, as I wrote it in the readme.
I took the time to add OSX build to travis, so I should be able to avoid those compatibility issues now.

[2015-12-15 22:02] #9 closed, assigned to nobody

[2015-12-15 22:25] tcoenraad commented on #9
It is fixed, thank you :+1:

[2015-12-16 01:12] #5 closed, assigned to nobody

[2015-12-16 01:15] danhper commented on #5
@bucaran Seems to be working nice!

[2015-12-16 01:34] ghost commented on #5
Now just for fun:

[code]

and pipe fishtape TAP stream to get

![](https://camo.githubusercontent.com/e9f949b2a166d8d793f1055b3cf7badc62109b34/687474703a2f2f692e696d6775722e636f6d2f543165483135362e706e67)

for free.

[2015-12-16 01:47] danhper commented on #5
Yeah, I saw there are plenty of cool consumers for tap! :smile:

[2015-12-16 01:47] bucaran commented on #5
:+1:

[2015-12-17 08:59] Perlence opened #11 "Runtime path"
Can there be an additional argument to `fundle plugin` to use selected subfolder of repo as root of a fish plugin? The idea comes from [vim-plug](https://github.com/junegunn/vim-plug).

For example, there's [folder](https://github.com/tmuxinator/tmuxinator/tree/master/completion) with tmuxinator completions for various shells. I could write, e.g. `fundle plugin 'tmuxnator/tmuxinator' --rtp 'comple

[2015-12-17 09:37] danhper commented on #11
@Perlence Hi and thanks for the idea.
Actually, I have been wanting to add this for a while but did not have the time to implement it yet.
I will try to implement this when I have a moment, but any help is welcome!

[2015-12-17 09:41] danhper opened #12 "Allow to limit loaded features"
Allow fundle plugin to only load a part of the functionality (for examples, only completions).
Adding the `--no-completions`, `--no-init` and `--no-functions` flags should work.

[2015-12-19 16:25] Perlence commented on #11
I'm working on it https://github.com/tuvistavie/fundle/compare/master...Perlence:repo-subfolder.

[2015-12-19 23:44] danhper commented on #11
@Perlence Great job, thank you very much!
This will also help a lot implementing [the last feature I want before releasing 1.0](https://github.com/tuvistavie/fundle/issues/12).

Just one point, I think we can avoid having a whole state machine here,
as the only thing we need to check is the next argument.
We could simply iterate on the index, and when an argument is needed, check the next element

[2015-12-20 06:48] danhper commented on #11
@Perlence Also, we cannot use `-a` in fishtape tests, see fisherman/fishtape#5 for an alternative.

[2015-12-20 20:15] Perlence commented on #11
I see. I'll simplify argument parser and fix existing tests.

[2015-12-22 13:23] #11 closed, assigned to nobody

[2016-01-04 15:25] bpinto opened #14 "Join us on slack one day?"
Hey @tuvistavie,

sorry to contact you like this, but could you come online on our slack channel one day? I'd like to talk to you, I'm fearful for some things.

[2016-01-04 15:25] #14 closed, assigned to nobody

[2016-02-15 22:54] nesl247 opened #15 "Upgrade attempts state the packages are not git repositories"
When running `fundle install -u` I receive the following

[code]

[2016-02-16 03:11] danhper commented on #15
Hi, thank you for reporting.
I am going to take a look.
In the meanwhile, if you really need to update just delete
`~/.config/fish/fundle` and run fundle install.

[2016-02-16 03:35] danhper commented on #15
I just tried to reproduce the issue, but I could not.

I tried in a fresh Ubuntu box with the following config.fish

[code]

Have you done anything that could have deleted the .git directory in the plugins directory?
Also, do you have any symlink under .config/fish, I do not think it should be an issue, but maybe it could help reproducing.
By the way, do you still get the error if you remove `~/.c

[2016-02-16 03:38] nesl247 commented on #15
After performing a `rm -rf ~/.config/fish/fundle` and then `fundle install`, I receive

[code]

I do not have any symlinks under `~/.config/fish`.

[2016-02-16 03:50] nesl247 commented on #15
This is my `config.fish` if it helps.

[code]

[2016-02-16 04:03] danhper commented on #15
Thank you very much for the details.
I am going to take a look.

[2016-02-16 04:06] nesl247 commented on #15
I tracked it down to the line in the install function that deals with checking out a specific sha. That's where the error occurs. I am also running fish from HEAD. I just reinstalled it right now to make sure I am at the very latest commit.

[2016-02-16 05:28] danhper commented on #15
Thanks for the details.
I just tried building fish from master and using your config.fish but still could not reproduce,
I wonder where this error comes from.
Maybe it could be an issue with git version?

This is what I got in the box I used to try to reproduce this issue.

[code]

I do not have an OSX machine to try on, so I will give it a try on OSX tomorrow if we do not found a solution until t

[2016-02-16 05:32] danhper commented on #15
I suspect the git `work-tree` or `git-dir` option is not working as expected, which would
explain the message, but this feature has been in git for quite a while, so maybe
an old version of hub could create the issue?

[2016-02-16 06:10] nesl247 commented on #15
I attempted to use the two options and I could complete a status properly. It shouldn't be an issue with git itself (I'm on 2.7.1 iirc). I suspect for some reason that the command is not getting the proper full path for `$git_dir`. If you notice the error, it only shows `.git` as the directory, which is odd.

[2016-02-16 06:34] nesl247 commented on #15
Ok, so I narrowed the issue down extremely. Hub is causing checkout to not work while using `--git-dir`. When specifying the checkout command manually using `/usr/local/bin/git` instead of just `git`, it works.

[2016-02-16 06:36] nesl247 commented on #15
Sorry to spam the thread, but I think I found the issue https://github.com/github/hub/commit/40e0cd22fd141d9b98bb69626f338f4fd9d581af. I'm going to close this issue as it's definitely a bug in hub. Thanks so much!

[2016-02-16 06:36] #15 closed, assigned to nobody

[2016-02-16 07:31] danhper commented on #15
Great you could track down the issue, and thank you for reporting!

[2016-02-24 08:35] iampeterbanjo opened #16 "Unknown option "name_path""
My terminal output is

[code]

I do have $name_path set which just outputs an empty line i.e `echo $name_path`

I'm running Fedora 23

Can you please help?

[2016-02-24 08:38] danhper commented on #16
Hi and thanks for reporting!
Could you tell me what version of fish you are using please?

[2016-02-24 11:32] iampeterbanjo commented on #16
Hi, thanks for getting back to me

My version 2.2 x86_64

I installed it from the repo this morning - wget http://download.opensuse.org/repositories/shells:fish:release:2/Fedora_23/shells:fish:release:2.repo

[2016-02-24 20:09] danhper commented on #16
Thank you for the details, I am going to take a look!

[2016-02-24 22:09] iampeterbanjo commented on #16
I think it is some issue with Fedora's shell. I had similar problem's using Fisherman. It said "alias is not defined" fisherman line:2. I traced it to a line that was using the read command with the -a flag i.e `read -la alias`. If removed the flag so the line was `read -l alias` fisherman ran without warnings except `grep: warning: GREP_OPTIONS is deprecated; please use an alias or script`

So I

[2016-02-24 22:09] #16 closed, assigned to nobody

[2016-02-24 22:10] danhper commented on #16
Hi, I just tried on a clean [Fedora 23 box](https://getfedora.org/en/cloud/download/) but I could not reproduce the issue.

Here is the Vagrantfile I used

[code]

It would be really nice if you could try to get something that can be reproduced inside a VM.
Thank you.

[2016-02-24 22:12] iampeterbanjo commented on #16
Thank you for your time. it looks like something weird happened - mine was a fresh install on my laptop too

[2016-02-24 22:13] danhper commented on #16
@iampeterbanjo  No problem, I guess my comment was a little too late :smile:
I wonder what was the issue. Anyway, let's keep that closed, if someone else has the same issue we will reopen!

[2016-02-24 22:15] iampeterbanjo commented on #16
:+1:  :)

[2016-04-04 16:01] enricobacis opened #17 "Change verbs to match the ones of Vundle"
I would prefer to have the verbs to match the ones used by Vundle:

`fundle install -u` -> `fundle update`
`fundle self-update` -> `fundle upgrade`

[2016-04-04 16:24] enricobacis opened #19 "Clean command"
It would be nice to have a `fundle clean` command that removes the directory for plugins that were in the config file but are not there anymore (this is something Vundle also has, so it would be nice to have it also here).

[2016-04-05 03:17] danhper commented on #19
Agreed, I am going to add this when I find the time, thank you for the proposal.

[2016-04-05 03:18] danhper commented on #17
Closing in favor of the PR.

[2016-04-05 03:18] #17 closed, assigned to nobody

[2016-04-05 11:10] enricobacis opened #20 "Auto-install fundle when functions not present"
At the moment I'm using this snippet to auto-install fundle if it is not present in the system:

[code]

Do you have any better idea? Otherwise we should create a wiki page with this code (Vundle also has an equivalent).

[2016-04-06 06:15] danhper commented on #20
Good idea, I am going to add this to the README, thank you!

[2016-04-06 06:22] enricobacis commented on #20
It would probably be better to host the script somewhere (github) and then use a classical `curl | fish`

[2016-04-06 06:23] danhper commented on #20
I think it is a little overkill for 3 lines, what do you think?

[2016-04-06 06:25] enricobacis commented on #20
Probably yes, but it would allow later modifications. Anyway it's up to you ;)

[2016-04-06 06:51] danhper commented on #20
Even with an installer, we will need to do the `if` check, so I just added it to the README for now, thank you :smiley:

[2016-04-06 06:51] #20 closed, assigned to nobody

[2016-04-06 06:55] enricobacis commented on #20
Yes, it would have been one line instead of three. Not really much ;)

[2016-04-06 07:46] #19 closed, assigned to nobody

[2016-04-06 07:48] enricobacis commented on #19
Wonderful, thanks

[2016-04-06 07:51] danhper commented on #19
Just published v0.5.0, thank you for your help :smiley:

[2016-04-06 08:28] enricobacis commented on #19
You forgot to put the `clean` command it in the `help`

[2016-04-06 08:32] danhper commented on #19
@enricobacis Oh, thanks, I completely forgot! Just made a new release with it!

[2016-04-06 09:36] enricobacis commented on #20
I improved the solution. I use `eval` in order not to instantiate another fish environment (which would cause a loop since the `fundle` is still not downloaded when the `config.fish` is read again)

[code]

The good part of having an installer is that you can also do something like:

[code]

[2016-04-06 09:52] danhper commented on #20
The solution I added in the README simply sources the downloaded file, so no need to instantiate another fish environment or anything!

If you really want to add an installer please go ahead and send a PR.

[2016-04-06 11:24] enricobacis commented on #20
Done in #22 ;)

[2016-06-17 10:38] hauleth opened #24 "Cannot `fundle update`"
Output message:

[code]

[2016-06-17 10:43] danhper commented on #24
Hi, thanks for reporting.

For some reason, the `.git` directory seems to be missing from some of your plugins.
Just to be sure, could you paste the output of

[code]

please?

[2016-06-17 10:46] hauleth commented on #24
[code]

It seems ok, it looks like fundle do not provide proper `GIT_DIR` when updating.

[2016-06-17 10:48] hauleth commented on #24
I think that you should also provide `GIT_WORK_TREE` variable while updating.

[2016-06-17 10:49] danhper commented on #24
Yeah, this seems to be fine.

I am setting `git-dir` through the `--git-dir` option, could it be that it gets overriden by an env variable?

I am passing the `work-tree` during the call to checkout, which should be enough.
Any other place you think it should be present?

[2016-06-17 10:56] hauleth commented on #24
Ok, I have found the issue. I have overrided `git` with `hub` which do not pass `--git-dir` command to the origin `git`. You should use `command git` instead of bare `git` to be sure that origin git was ran. I will fill issue against `hub` also.

[2016-06-17 10:58] danhper commented on #24
@hauleth Thank you for investigating!
I will change to `command git` to be safe, just a moment :smile:

[2016-06-17 11:06] #24 closed, assigned to nobody

[2016-06-17 11:07] danhper commented on #24
I fixed it and updated to 0.5.2, could you run `fundle self-update` and tell me if it works please? :smile:

[2016-06-17 11:15] hauleth commented on #24
You forgot to push tag ;)

[2016-06-17 11:22] danhper commented on #24
Woops :sweat:
Here you go! :tada:

[2016-06-17 11:36] hauleth commented on #24
Works, thanks.

[2016-06-29 08:56] enricobacis opened #25 "Compatibility with fish 2.0.0"
Ubuntu 14.04 has fish 2.0.0, and fundle is not working with that version.
We should try to diagnose why it is not working, since ubuntu-14.04-based distros are still widely used.

[2016-07-14 12:04] danhper commented on #25
Hi, sorry for the late reply and thanks for reporting.

I know fundle is not working with fish 2.0 and 2.1.
I am not perfectly sure what we would need to make it compatible,
but I think I am not using any "new" features, so it may be worth giving it a shot.

I will try to see how hard it might be to make it compatible.

[2016-08-04 16:33] pwwang opened #26 "It's great, but I wanna know how to uninstall it."
I searched around, but found no description about how to uninstall a fish plugin.

[2016-08-05 01:00] danhper commented on #26
It's a single file, just remove it :smile:

[2016-08-05 08:12] danhper commented on #26
Oh, sorry, do you mean you want to remove a single plugin, or fundle itself?
If you want to remove a plugin, just remove

[code]

from your setup and run `fundle clean`.

[2016-08-05 17:30] pwwang commented on #26
@tuvistavie sorry, I meant fundle itself. Thanks.

[2016-08-06 01:05] danhper commented on #26
In this case, just remove the file

[code]

and don't  forget to remove the fundle related parts from your fish setup!

[2016-08-06 01:05] #26 closed, assigned to nobody

[2016-08-08 10:30] hauleth commented on #26
@tuvistavie maybe `fundle implode` method would be useful?

[2017-01-02 20:02] alexkreidler commented on #25
+1 to this issue. I have fish version 2.0 on Ubuntu 14.04. I would really appreciate support for this version. I can post error logs if it would help. Thanks!

[2017-01-12 20:08] andreicek commented on #16
I'm having the same problem on RASPBIAN JESSIE LITE.

[code]

[2017-03-24 09:55] dagoss commented on #25
I'm not having this issue with Fish 2.2 and Linux Mint 18.1. Fundle is working fine for me!

[2017-03-24 10:00] enricobacis commented on #25
@dagoss Fish 2.2 is working for everyone, but version available in the 14.04 repositories is Fish 2.0, which for some reason is not compatible with fish. One has to add the ppa to update fish to version 2.2 to get fundle working, but it would be nice to know why it is not working with 2.0 and, possibly, to fix it.

[2017-05-04 11:40] christianrondeau opened #29 "Compatibility with fisherman/z"
Hi! I've been trying fundle (commit `e3afe719`, version `0.5.3`) and tried installing `fisherman/z` (the os is termux) without success.

I fiddled a little bit and I believe the problem is that `init.fish` is sourced, otherwise all `.fish` files in the root folder of the plug-in, but this one requires sourcing `conf.d/*.fish`.

    source ~/.config/fish/fundle/fisherman/z/conf.d/z.fish

Is this so

[2017-05-04 12:38] simonszu commented on #25
Found this issue because i tried to install fish on Raspbian for Raspberry Pis.
Precompiled packages provide only fish 2.1.0, and compiling fish on my own on a small ARM box is a PITA.
So this is my error when trying to load fundle on fish 2.1.0:
[code]
Maybe it helps to fix this issue.

[2017-06-08 15:03] danhper commented on #29
Hi, very sorry for the delay.
Indeed, fisherman started the conf.d convention after I wrote fundle. I would not mind sourcing everything in conf.d if it can help.
A PR would be very welcome if you have time.
Thank you.

[2017-07-04 19:52] #29 closed, assigned to nobody

[2017-08-21 00:42] timofonic opened #31 "A fish package manager using bash? Are you serious?"
Hello.

I'm researching about different shells and found fish to be really interesting. I'm looking for extra ways to customize it.

I found this "package manager", but got surprised it uses bash instead fish itself. Why?

Kind regards.

[2017-08-21 01:52] tuvistavie commented on #31
The package manager itself is written in fish.
bash is only used to setup CI server, and is not needed anywhere else.

[2017-08-21 01:52] #31 closed

[2017-08-21 09:53] hauleth commented on #31
GitHub doesn't recognise `.fish` as a source code so it omits it in stats. Or, it recognises it as a `Shell` code (technically correct, the best kind of correct).

[2017-12-14 14:29] zimme opened #32 "Warning about '' being invalid integer in test"
In `__fundle_compare_versions` there's a chance that `$v1` or `$v2` is empty which creates warnings with the `-lt`/`-gt` comparisons as an empty value isn't a valid integer.

I see that you check for the case when one is present and the other one isn't. However I don't know how to change the code so that it only does the `-lt`/`-gt` checks when both values are present.

[2017-12-14 14:30] zimme commented on #32
I'm seeing this when running `fundle self-update`.

[2017-12-14 14:49] #32 closed, assigned to nobody

[2017-12-14 14:49] danhper commented on #32
Thanks for reporting, this should now be fixed.

[2018-03-26 08:26] simonszu opened #33 "fish_greeting in themes override custom changes, due to the order fundle loads themes"
Hi,

i have opened the following issue in bobethefish: https://github.com/oh-my-fish/theme-bobthefish/issues/136#issuecomment-375981625

I think, this happens due to the order fundle loads themes and plugins, so that the hardcoded `fish_greeting` in bobthefish overrides my custom `fish_greeting` in my `fish/functions` folder. The functions folder apparently gets evaluated before the `config.fish`

[2018-04-16 21:29] nesl247 opened #34 "Fish 3.0 incompatibility: expected end of statement but instead found a string"
When running fish from master (fish, version 2.7.1-1070-ga9b582d2 - it's not really 2.7.1) I am getting the following:

[code]

[2018-04-16 21:40] nesl247 commented on #34
This is caused by https://github.com/fish-shell/fish-shell/issues/4394

[2018-04-16 22:36] #34 closed, assigned to nobody

[2018-04-16 22:36] danhper commented on #34
Thank you for the warning. I just fixed this and published a new version.

[2018-04-17 01:27] nesl247 commented on #34
Thanks!

[2018-05-27 04:46] mustaqimM commented on #8
@tuvistavie I'm getting the same issue on `0.6.2` with `plugin-gem` from omf, it isn't loading the function with `function init --on-event`

[2018-06-13 19:14] BarbzYHOOL opened #35 "Compatibility with fisherman's plugins (not reading fishfile)"
In fisherman's plugins, there is a "fishfile" which list dependencies needed for the plugin.

This could be handy to have.

[2018-06-13 19:53] BarbzYHOOL opened #36 "fundle init --profile should display time in microseconds (ms)"
Actually it displays in "us" lol
That's confusing and hard to read

    .config/fish/fundle 1: 23430us

[2018-06-13 23:22] BarbzYHOOL opened #38 "With several plugins, it's quite slow to start up"
I think with fisherman and omf it is not as slow as fundle. However I really like fundle atm, simpler, easier to install and one nice plugin (fastdir).

Any idea how to make it quicker?

[2018-06-14 02:35] danhper commented on #36
ms is short for milliseconds, not microseconds.
microseconds is normally written as "μs", but I prefer to stick with non-extented ascii in a shell environment, so the closest I could get to is "us". I have no strong opinion on this, so if you would like to change it to "μs", please send a PR.
Thank you.

[2018-06-14 02:38] danhper commented on #35
I agree it could be nice to have support for fishfile, but I do not have time to work on this right now.
If you would like to send a PR, I will be happy to merge it.
Thank you.

[2018-06-14 03:59] danhper commented on #38
I know fisherman is fast because it uses a flat directory structure, avoiding the need to add things to the path at each shell startup. For omf, I am not sure.
I use [less than 10 plugins](https://github.com/tuvistavie/dotfiles/blob/master/home/.config/fish/conf.d/fundle.fish) so speed has never really been an issue for me, but startup time definitely increases with the number of plugins.
Do you h

[2018-06-15 20:48] BarbzYHOOL commented on #36
I meant it should display in milliseconds, not microseconds :P

[2018-06-15 20:51] BarbzYHOOL commented on #38
It takes like 2-3seconds to reload (a bit annoying when doing tests)

[code]

And I will probably add like 5 more plugins lol

[2018-06-16 19:21] BarbzYHOOL opened #39 "fatal: Could not change back to '/root': Permission denied"
I found a bug but I don't really know why it happens.

I logged in as root, so in /root. Then I typed "su my_user" and I tried to "fundle install" but I was greeted with:

    fatal: Could not change back to '/root': Permission denied

So I went to ~ and installed fine.

Then, after installation, I did the same thing, I logged in as root, so in /root, Then I typed "su my_user" and error:

[code]
M

[2018-06-16 21:04] BarbzYHOOL opened #40 "[Suggestion] Local plugin - avoid update"
If I symlink to my own plugin which is not on a repo, I can add in my config.fish "my_name/my_plugin" even if no repo exists

Then when I "fundle update" it will cause an error.

Maybe we could add an option like this:

    fundle plugin my_name/my_plugin --local

It will not try to update it. Could also do it with a dummy file in the plugin directory called 'local' and then it would exclude it.

[2018-06-16 21:17] BarbzYHOOL commented on #35
If I manage to do this, I'll send a PR but since I automate installation with other tools, I doubt I will need to do this and will forget :D

[2018-10-16 16:57] BarbzYHOOL opened #41 "Could not update plugin"
I have one of my plugin (a theme in fact) in my computer and not on a distant repo
`fundle plugin 'user/yhool_fish' --url "/home/user/PROGRAMS/FISH/yhool_fish"`

When I `fundle update` :
Could not update xxx/xxx

But I don't know what the issue is, I can't find it :(

How can I debug this?

Note: I have other plugins installed this way and no problem

[2018-10-22 12:45] danhper commented on #41
Hi!
Sorry, there is not a decent debug option for now. The easiest thing to do is to change the code to actually output the error (maybe we should output errors by default).
I think for you the command on line 89 (git rev-parse) is failing so you could remove the 2>/dev/null at the end to see what's happening.
Sorry for the trouble.

[2018-10-22 19:50] BarbzYHOOL commented on #41
Oh yes, please update it. Maybe remove all `2>/dev/null` ?

My mistake was simple: I had symlinked the themes' files but it wasn't a git repo, so it failed. Instead i symlinked my git repo and it works fine now!

Thank you!

[2018-10-23 06:28] BarbzYHOOL commented on #41
@danhper ok in fact it didn't work lol

I can't symlink my git repo, I need to copy it. Any idea why?

[2018-10-23 15:13] BarbzYHOOL commented on #41
My bad, I needed to "fundle install"

And I guess I understand why I can't symlink + "fundle update", it's because it uses git

[2018-11-02 22:44] faho commented on #38
So, I've looked into this a bit, and there are a  bunch of easy fixes to add, especially if you're okay with depending on fish 2.3.0 (which was released in 2016).

Mainly, as always in shell scripts, these involve replacing external commands with builtins.

E.g:

`which` is used a few times, but should be replaced with `command -s`.

[code]

should be

[code]

(or `command -sq`, which was introduc

[2018-11-04 16:48] danhper commented on #38
@faho Thank you very much! Is there any chance you could send a PR with your improvements please? It's ok to drop 2.2, people using an old version of fish will just have a slower startup, that's not a big deal. I'll maybe add a check in the `self-update` function.

[2018-11-10 10:32] #25 closed, assigned to nobody

[2018-11-10 10:32] #38 closed, assigned to nobody

[2018-11-11 16:16] #41 closed, assigned to nobody

[2018-11-11 16:19] BarbzYHOOL opened #43 "fundle update asks for my password on github also no SSH remote"
@danhper
When I `fundle update`, it iterates through my plugin list, and when it reaches:

It asks me for my github password. But why?? look it is available here https://github.com/BarbzYHOOL/plugin-bak it's not private

Also, why it doesn't use my SSH key instead? Is it possible to select my SSH key to use with fundle for github, gitlab etc?

[2018-11-11 18:35] danhper commented on #43
This is very weird, it uses the https git endpoint by default so if the repository is public this should not happen. Maybe try to go to `~/.config/fish/fundle/BarbzYHOOL/plugin-bak` and check what the remote looks like with `git remote show origin`.
You can use any git repository and any protocol, just add `--url REPO_URL` to `fundle plugin `: e.g.

[code]

[2018-11-11 22:10] BarbzYHOOL commented on #43
`https://github.com/BarbzYHOOL/plugin-bak.git` is my remote
and in my config (/etc/fish/conf.d/fundle_plugins.fish) there is this `fundle plugin BarbzYHOOL/plugin-bak`

[code]

Ok ty for SSH, I think I had found this before but forgot it :P

[2018-11-17 17:26] BarbzYHOOL commented on #43
Ok so in fact my error came from anything after this line:

fundle plugin fisherman/tio

So i went to fisherman/tio

and there is nothing, in fact the whole fisherman repo has disappeared...

[2018-11-17 17:26] #43 closed, assigned to nobody

[2018-11-29 15:46] faho opened #44 "Rerun nightly tests?"
Hi,

as you might have noticed, the nightly tests on Travis have been failing for a while, but https://github.com/fish-shell/fish-shell/commit/a1c481c06aa187b741c5b4db22ae0629e949832d should have fixed it.

So if you could click the "retry test" button on https://travis-ci.org/danhper/fundle, we could see if it's working.

[2018-11-30 01:34] danhper commented on #44
Hi, it now seems to pass again, thanks!

[2018-11-30 01:34] #44 closed, assigned to nobody

[2018-12-04 21:11] BarbzYHOOL opened #45 "This plugin doesn't work with fundle (i guess), but why?"
Do you have any idea why https://github.com/BarbzYHOOL/plugin-pyenv the init.fish is not loaded?

you can verify by installing the plugin, then you QUIT the terminal and open another one, then run `echo $PYENV_ROOT` and see, it's not set while the init.fish sets it up (in fact nothing is read from the init.fish)

[2018-12-06 11:31] danhper commented on #45
`init.fish` is executed but you create `PYENV_ROOT` as a local variable so it is only defined in the current file.
Just replace `set -l` by `set -xg` and it should work.

[2018-12-06 11:31] #45 closed, assigned to nobody

[2018-12-06 16:30] BarbzYHOOL commented on #45
I have completely removed everything in init.fish and replaced by something else and it didn't execute/load at all so I don't think this is related :'(

(i have put "abbr -a te test" for example and it didn't work)

Edit: yes i retried to be sure, doesn't change anything

[2018-12-06 22:46] danhper commented on #45
I tried with the repository you gave me and it worked perfectly fine. Is there any chance you could create a Dockerfile which reproduces the issue please?

[2018-12-07 19:32] BarbzYHOOL commented on #45
sorry was a mistake from me, I didn't realize I needed to put "fundle init" in ALL the conf.fish (/etc/fish and ~/config/fish)

[2018-12-16 17:19] strika opened #47 "Unknown command 'string split : -- strika/catfish-pine:.'"
I get this error when I try to use Fundle on Ubuntu 16.04. This setup works just fine on Ubuntu 18.04. Is there a dependency that's missing? Thank you.

[code]

[2018-12-16 18:24] strika commented on #47
I resolved the issue by using Fish from the ppa. I assume that Fundle requires a certain version of Fish. Maybe it would be nice to add that to README.

Thank you.

[2018-12-16 18:24] #47 closed, assigned to nobody

[2019-01-11 15:17] edouard-lopez opened #49 "Installing in a docker"
I'm trying to automate the installation of `fundle` and `pure` theme in a container but my prompt isn't activated.

The base Docker image I use is [ohmyfish/fish](https://hub.docker.com/r/ohmyfish/fish/~/dockerfile/) and the command executed are:

[code]

At the end of that script my prompt is the same as at the beginning. I was hoping it would load `pure` theme.

[2019-01-13 15:13] BarbzYHOOL opened #50 "Global installation"
I think when we install fundle in /etc/fish, the plugins should also be in a global directory so all users use the same plugins instead of installing each plugin for each user (which wastes time and disk)

[2019-02-13 22:24] hunter-richardson opened #51 "Update single plugin"
Is there a way to ask `fundle update` to pull only a specific plugin? I'm trying to implement a script that pulls installed plugins in random order:
[code]
...but `fundle update` pulls the whole list.

[2019-02-13 22:34] hunter-richardson commented on #50
One way I got this to work is place `fundle.fish` under `/root/.config/fish/functions`:
[code]
... in `/root/.config/fish/config.fish` (or a file it references), set up the plugins and `ln` the loaded files to `/etc/fish`:
[code]

Then just make sure `root` is the only one who updates `fundle`:
[code]

It's definitely not ideal, but it works.

[2019-02-14 16:48] BarbzYHOOL commented on #50
yeah, with symlink there is always a solution xD but it's damn dirty

thank you for idea, for now I just install it on every user (hopefully in my final setup I'll have only 2 users lol)

[2019-02-14 16:49] BarbzYHOOL commented on #51
I don't think so at the moment :(

[2019-02-24 22:55] danhper commented on #51
Hi, there currently isn't but a PR would be very welcome. Thanks!

[2019-02-25 15:36] hunter-richardson commented on #51
My apologies; I'm kind of new at this.
The [new PR](https://github.com/danhper/fundle/pull/new/master) link asks me to compare branches, but I'm not a collaborator to your repo, so I can't create a new branch.

[2019-02-25 16:49] BarbzYHOOL commented on #51
You need to fork the repo and edit it, then you open up https://github.com/danhper/fundle/ and a javascript message will appear in yellow that you can click to open the PR easily

To try this out, select a file in https://github.com/danhper/fundle/ and click on the pencil icon to edit it, github will tell you it has automatically forked the repo and you are editing your own fork directly on github

[2019-02-26 23:03] hunter-richardson commented on #51
My [PR](https://github.com/hunter-richardson/fundle) implements a fairly simple modification to [functions/fundle.fish](https://github.com/danhper/fundle/functions/fundle.fish).

Running `fundle update $plugin` where `$plugin` is one of the names from `fundle list --short` will pull down only that plugin; running `fundle update $plugin` where `$plugin` is **NOT** one of the names from `fundle list

[2019-02-26 23:23] hunter-richardson commented on #51
My [PR](https://github.com/hunter-richardson/fundle) implements a fairly simple modification to [functions/fundle.fish](functions/fundle.fish).

Running `fundle update $plugin` with `$plugin` one of the names in `fundle list --short` will pull down only that plugin; running `fundle update $plugin` with `$plugin` **NOT** one of the names in `fundle list --short` will display an error message and pu

[2019-02-26 23:32] hunter-richardson commented on #51
See #52 .

[2019-02-26 23:51] hunter-richardson commented on #40
My [PR](https://github.com/danhper/fundle/pull/52) corrected this issue:

[code]

or, for multiples:

[code]

The given plugins would never get touched by `update_fundle`. (That doesn't mean you can't manually run `fundle update my_name/my_plugin`.)

[2019-02-27 16:06] hunter-richardson commented on #51
My fork was merged and deleted. This issue can now be closed.

[2019-02-27 16:13] #51 closed, assigned to nobody

[2021-01-01 14:03] bandithedoge opened #53 ""Could not checkout revision", plugins don't work"
![image](https://user-images.githubusercontent.com/26331682/103439969-2b1ff800-4c42-11eb-82c5-27bb979f49c7.png)

Whenever I run `fundle update`, I get this error. The plugins' functions work, but everything else doesn't. For example, I can run `__fzf_search_current_dir` but the Ctrl+F keybinding does nothing. Same with the auto pairs - they just don't work.

[2021-01-05 17:00] danhper commented on #53
Hi @bandithedoge, thanks for the report.
The code was wrongly assuming that all repos have a branch named master, so it was failing for repos using a `main` branch instead.
I just fixed that and pushed a new version (0.7.1), please let me know if you run into any issue.

@jorgebucaran Cool stuff, I also installed it, thanks for that! https://github.com/jorgebucaran/autopair.fish

[2021-01-05 17:00] #53 closed, assigned to nobody

[2021-04-29 13:30] Arelav opened #56 "--path not handled"
Probably the reason because the `extras` directory not structured as fish plugin and also contains two color themes for Fish
I'm trying to install from this
`git@github.com:folke/tokyonight.nvim.git`
I tried
`fundle plugin 'folke/tokyonight.nvim' --path 'extras'`
`fundle plugin 'folke/tokyonight.nvim' --url 'git@github.com:folke/tokyonight.nvim.git' --path 'extras'`
`fundle plugin 'folke/tokyonigh

[2022-04-13 19:07] NextAlone opened #57 "[Suggestion] Install files in seperate directories"
Such ad install a plugin with struct below
[code]

Install these to fisher dir with this struct, create a dir with plugin name
[code]

[2022-04-13 19:07] #57 closed, assigned to nobody

[2022-06-13 13:10] SirWrexes commented on #33
This is years late but the answer might help some people:
My solution to making sure my environment isn't overridden by plugins is to do my setting up in `conf.d` with numbered files.
This gives you much more control over the order or things.
![image](https://user-images.githubusercontent.com/5567164/173360926-d1eea2b0-cab1-4175-aeba-d0857e21569a.png)

[2022-07-06 00:37] Arelav commented on #56
Perhaps the project died.

[2022-07-06 00:37] #56 closed, assigned to nobody

[2022-10-17 22:58] BarbzYHOOL opened #60 "Installing with curl doesn't work anymore"
Dunno why but `if not functions -q fundle; eval (curl -sfL https://git.io/fundle-install); end` doesn't get the latest fundle

the version is 7.0.0 because you haven't updated it but still the file is older

Check the diff here (lasts 1 month)
https://www.diffchecker.com/Yzemk7ni

[2022-10-18 22:32] BarbzYHOOL commented on #50
@danhper

[2022-10-19 01:17] BarbzYHOOL opened #61 "Fundle install - git clone from SSH instead of HTMl"
Can we git clone from SSH if we set a variable somewhere?

It's annoying to have to type my password manually or to have to cd into the plugin git repo and change the remote to be SSH instead of https

i think this requires a new feature

[2022-10-19 19:04] BarbzYHOOL commented on #60
hmm i guess i was wrong, I can't make that diff again... feel free to close

[2022-10-19 23:08] BarbzYHOOL commented on #61
trying flag "--path" but it is totally confusing and it doesn't work:

Installing jorgebucaran/autopair
jorgebucaran/autopair not installed. You may need to run 'fundle install'
See the docs for more info. https://github.com/tuvistavie/fundle

[2022-10-26 11:50] danhper commented on #50
Hey, I agree this would be nicer indeed!
Would you have time to send a PR for this please?

[2022-10-26 16:57] BarbzYHOOL commented on #50
I don't know how to code this, I know a bit of fish scripting but what would be a good way to do all of this? at least if there was a plan to follow, me or someone could attempt to follow it

[2022-10-26 20:42] hunter-richardson commented on #50
From a project standpoint, this will be difficult to handle, since I'm sure there will be users who don't want to request `sudo` permissions just to install `fish` plugins. So you'll need some kind of flag in the initial setup script that will allow the installer to decide whether or not (s)he wants these plugins to be managed by a sudoer; and if not, then continue with the installation as normal.

[2022-10-26 22:13] hunter-richardson commented on #50
Okay, let's place [functions/fundle.fish](https://github.com/danhper/fundle/blob/master/functions/fundle.fish) under `/root/.config/fish/functions`, and optionally sym-link it to `/etc/fish/functions` to allow non-sudoer plugin installation:
[code]
Configure `/root/.config/fish/config.fish` for `fundle`, if necessary:
[code]

Write the following functions to `functions/fundle.fish`:
[code]
The fol

[2022-10-27 21:44] BarbzYHOOL commented on #50
Why not make a PR if you have sorted it out Hunter?

[2022-10-27 22:37] hunter-richardson commented on #50
I'm working on it